*

!.github/
!.github/**/
!assets/
!assets/**/
!.editorconfig
!.gitattributes
!.gitignore
!.gitmodules
!.justfile
!CMakeLists.txt
!.clang-format
!.cmake-format.py
!LICENSE
!README.md

!include/
!include/**/
!src/
!src/**/
!scripts/
!scripts/**/
!resources/
!resources/**/

!*.md
!*.mdc
!*.svg
!*.png
!*.nix
!*.lock
!*.sh
!*.c
!*.h
!*.cc
!*.hh
!*.cxx
!*.hxx
!*.cpp
!*.hpp
!*.cu
!*.cuh
!*.ch8
